/* Body formate for all page */
body {
    margin: 0;
    background: #EEE;
    z-index: 1;
}

.contant {
    position: relative;
    margin-top: 55px;
}

/* the format for the Welcome and hello image  */
.HelloImg {
    width: 100%;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
    object-fit: cover;
}

/* button formate for Enter/Login/Signup/Checkout */
.enterButtons {
    margin: 30px;
    text-align: center;
    font-family: 'Gill Sans';
    font-size: 150%;
    text-decoration: none;
}

.enterButtons a {
    background-color: #DCF;
    text-decoration: none;
    padding: 15px 20px;
    text-decoration: none;
    width: fit-content;
}

.enterButtons a:hover {
    background-color: #CBE;
    color: #555;
}





/* ------------------------------------------------------------------------------------- */
/* Navigation Bar on all pages */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DCF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navbar li a:not(#Webname) {
    float: right;
    display: block;
    text-align: center;
    padding: 15px 20px;
    font-family: 'Gill Sans';
    font-size: 120%;
    text-decoration: none;
    color: #666;
}

.navbar li a:hover {
    background-color: #CBE;
}

/* format for the website name on the navigation bar */
#Webname {
    float: left;
    display: block;
    text-align: center;
    padding: 12px 20px;
    font-family: 'Gill Sans';
    text-decoration: none;
    color: #333;
    font: bold;
    font-size: 150%;
    background-color: #DCF;
}





/* ------------------------------------------------------------------------------------- */
/* Produce Table on Home page and Search page */
.productTable {
    list-style-type: none;
    overflow: hidden;
    max-width: 100%;
    margin: 35px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.productTable li a {
    flex-basis: 25%;
    float: left;
    text-align: start;
    padding: 10px 20px;
    margin: 20px 20px;
    font-family: Calibri;
    text-decoration: none;
    display: block;
}

.productTable li a:hover {
    background-color: #BBB;
}

/* Product Image size */
.productTable img {
    height: 200px;
    width: 180px;
    object-fit: cover;
}

/* Product name font */
.productTable h1 {
    color: #000;
    font-family: courier;
    font-size: 100%;
    line-height: 10px;
}

/* Product Price & Rating font */
.productTable p {
    color: #555;
    font-family: monospace;
    font-size: 100%;
    line-height: 5px;
}

/* ------------------------------------------------------------------------------------- */
/* Produce Table on cart page */
.CartTable {
    list-style-type: none;
    overflow: hidden;
    max-width: 100%;
    margin-left: 0px;
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

/* Product Image size */
.CartTable img {
    height: 200px;
    width: 180px;
    object-fit: cover;
}

/* Product name font */
.productTable h1 {
    color: #000;
    font-family: courier;
    font-size: 100%;
    line-height: 10px;
}

/* Product Price */
.productTable p {
    color: #555;
    font-family: monospace;
    font-size: 100%;
    line-height: 5px;
}







/* ------------------------------------------------------------------------------------- */
/* Search Box Table on Search page */



/* ------------------------------------------------------------------------------------- */
/* Login Box Table on Login/signup page */
.enterBox {
    margin: 20px 0px 10px 80px;
    background-color: #DDD;
    padding: 40px 20px 10px 20px;
    max-width: 80%;
    border-radius: 15px;
    size: fit-content;
    justify-content: space-around;
    text-align: center;
    align-content: left;
}

.InputBox {
    display: block;
    background-color: #CCC;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 30px 150px;
    max-width: 700px;
    max-height: fit-content;
    align-content: left;
}

.InputBox input {
    font: 1em sans-serif;
}

.twoColumnBox {
    display: block;
    background-color: #CCC;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 30px 150px;
    max-width: 700px;
    max-height: fit-content;
    column-count: 2;
    line-height: 10px;
}